@model Project.Models.ConditionDiagnosis
@{
    ViewData["Title"] = "AddConditionDiagnosis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<form asp-controller="Admin" asp-action="AddCondition" method="post">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add Practice</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active"> Add Condition</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content" style=" padding-left: 16px; padding-right: 16px;">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    
                    <div class="card-body">

                        
                        <div class="form-group">
                            <label asp-for="ICD10Code ">ICD-10 Code</label>
                            <input required asp-for="ICD10Code " type="text" id="inputClientCompany" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="DiagnosisName ">Diagnosis</label>
                            <input required asp-for="DiagnosisName " type="text" id="inputClientCompany" class="form-control">
                        </div>
                       
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">

                    <div>
                        <img src="~/AdminLTE-3.0.2/dist/img/NMB Logo.png" />
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
       
        <div class="row">
            <div class="col-12">
                <a class="btn btn-info btn-sm" asp-controller="admin" asp-action="getallcondition">
                    <i class="fas btn-default">
                    </i>
                    Back
                </a>
                <button type="submit" value="Add new Condition" class="btn btn-success float-right">Add New Condition</button>
            </div>
        </div>
    </section>





</form>


