
@model Project.Models.Doctor
@{
    ViewData["Title"] = "Add Doctor";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form asp-controller="admin" asp-action="AddDoctor" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="DoctorID" />
    <section class="content-header" >
        <div class="container-fluid">
            <div class="row ">
                <div class="col-sm-12">
                    <h1>Add A New Doctor</h1>
                </div>
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Add Doctor</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content" style=" padding-left: 16px; padding-right: 16px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary">

                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            <div class="form-select">
                                <select required name="title" id="title" class="form-control">
                                    <option value="">   </option>
                                    <option value="Ms">Ms</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Mr">Mr</option>
                                    <option value="Dr">Dr</option>
                                </select>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="DoctorName">First Name</label>
                            <input required type="text" asp-for="DoctorName" id="inputName" class="form-control">
                            <span asp-validation-for="DoctorName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DoctorSurname">Last Name</label>
                            <input required type="text" asp-for="DoctorSurname" id="lastName" class="form-control">
                            <span asp-validation-for="DoctorSurname" class="text-danger"></span>
                        </div>



                        <div class="form-group">
                            <label asp-for="HighestQualificationID">Highest Qualification</label>
                            <input required type="text" asp-for="HighestQualificationID" id="lastName" class="form-control">
                            <span asp-validation-for="HighestQualificationID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MedPracticeID">MedPracticeID</label>
                            <input required asp-for="MedPracticeID" type="text" id="email" class="form-control">
                            <span asp-validation-for="MedPracticeID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HCRegNo">Health Council Registration Number</label>
                            <input required asp-for="HCRegNo" type="number" id="number" class="form-control">
                            <span asp-validation-for="HCRegNo" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Gender">Gender</label>
                            <div class="form-select">
                                <select required name="gender" id="gender" class="form-control">
                                    <option value="">   </option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                    <option value="Trans Female">Trans Female</option>
                                    <option value="Trans Male">Trans Male</option>
                                    <option value="Agender">Agender</option>
                                    <option value="Pangender">Pangender</option>
                                    <option value="Non-binary">Non-binary</option>
                                    <option value="Intersex">Intersex</option>
                                    <option value="Prefer not to say">Prefer not to say</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            

        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-info btn-sm" asp-controller="admin" asp-action="getalldoctor">
                    <i class="fas btn-default">
                    </i>
                    &nbsp; Back &nbsp;
                </a>
                <input type="submit" value="Add a new Doctor" asp-controller="admin" asp-action="AddDoctor" class="btn btn-success float-right">
            </div>
        </div>
    </section>

</form>


