@model Project.Models.MedPractice
@{
    ViewData["Title"] = Model != null ? "EditPractice" : "AddPractice";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<form asp-controller="admin" asp-action="@ViewData["Title"]" method="post">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Practice</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active"> Edit Practice</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    
                    <input type="hidden" asp-for="PracticeID" />
                    <div class="card-body">

                        <div class="form-group">
                            <label asp-for="PracticeName">Practice Name</label>
                            <input type="text" asp-for="PracticeName" id="inputName" class="form-control">
                            <span asp-validation-for="PracticeName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AddressLine1">Physical Address</label>
                            <input asp-for="AddressLine1" type="text" id="inputClientCompany" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="AddressLine2">Address Line 2</label>
                            <input asp-for="AddressLine2" type="text" id="inputClientCompany" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="CityID">City</label>
                            <input asp-for="CityID" type="text" id="inputClientCompany" class="form-control">
                        </div>

                       
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="PracticeNo">Practice Number</label>
                            <input required asp-for="PracticeNo" type="text" id="CrecheLeader" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Email">Email Adress</label>
                            <input required asp-for="Email" type="email" id="inputSpentBudget" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactNo">Phone Number</label>
                            <input required asp-for="ContactNo" type="text" id="phonenumber" class="form-control">
                        </div>
                        <div class="card-body" align="center" width:"60%">
                            <img src="~/AdminLTE-3.0.2/dist/img/NMB Logo.jpeg" />

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-info btn-sm" asp-controller="admin" asp-action="getallpractice">
                    <i class="fas btn-default">
                    </i>
                    Back
                </a>
                <button type="submit" value="Add new Center" class="btn btn-success float-right">Update Practice</button>
            </div>
        </div>
    </section>





</form>



